<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="first-body">
    {% for i in range(8) %}
        {%if i is even%}
            {% for i in range(8) %}
                {% if i is odd %}
                    <div style="background-color:red" id= "box">hello </div>
                {% else %}
                    <div style="background-color:black" id= "box">bye </div>
                {% endif %}
            {% endfor %}
        {% else %}
            {% for i in range(8) %}
                {% if i is even %}
                    <div style="background-color:red" id= "box">hello </div>
                {% else %}
                    <div style="background-color:black" id= "box">bye </div>
                {% endif %}
        {% endfor %}
        {% endif %}

    {% endfor %}
</body>
</html>